<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
		<style>
			body {
    			padding-top: 40px;
    			padding-bottom: 40px;
    			background-color: #eee;
    			font-family: 'Ubuntu', sans-serif;
			}
		</style>
		<title>Oops - We're having problems.</title>
	</head>
	<body>
		<h1 style="text-align: center">Oh no!</h1>
		<p style="padding-left: 40px">
			It seems as though the server is experiencing some problems...
			<br>
			Please bear with us as we fix this. And remember, this application
			is in extreme alpha.
			<br>
			Please place a bug at 
			<a href="http://www.github.com/captgreen1/chatbox/issues">our bug tracker</a>,
			and include the following information:
			<br>
			<code><%= error_info %></code>
		</p>
	</body>
</html>